{% extends 'base.html.twig' %}

{% block body %}

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col s3 m3">
                    <a href="#modal1">
                        {% if picture != null %}
                            <div><img width="170" class="profile-image img-responsive  left-align circle"
                                      src="../ressource/profil/{{ picture }}"></div>
                        {% else %}
                            <div><img width="170" class=" profile-image img-responsive  left-align circle"
                                      src="../ressource/profil/profil.jpg" alt="default"></div>
                        {% endif %}
                    </a>
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            {% if picture != null %}
                                <div><img width="260" class="centerer" src="../ressource/profil/{{ picture }}"
                                          alt="photo de profil"></div>
                            {% else %}
                                <div><img width="260" class="centerer" src="../ressource/profil/profil.jpg"
                                          alt="default"></div>
                            {% endif %}
                            {% if membre.id == id_membre %}
                                <hr>
                                <form action="{{ path("membre_picture")}}" method="POST" enctype="multipart/form-data">
                                      <div><input type="file" name="picture"></div>
                                      <div><input type="submit" value="Upload" class="waves-effect waves-light btn right"></div>
                                </form>
                            {% endif %}

                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <div class="profile-content">
                        <p class=""> {{ membre.prenom }} {{ membre.nom }}</p>
                        <div>{{ membre.mail }} </div>
                    </div>
                </div>
                <div class="col s5 m5 right-align">
                    {% if membre.id != id_membre %}
                        <a class="btn btn-cta-primary " href="{{ path("messagerie_send", {'id': membre.id }) }}"
                           target="_blank">
                            <i class="fa fa-paper-plane"></i> Contactez-moi</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col s8 m8">
            <div class="card">
                <div class="card-content">
                    <div><b>A propos de moi: </b></div>
                    <div>{{ membre.description }}</div>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            {% if membre.id == id_membre %}
            <div class="card">
                <div class="card-content">
                    <div>
                        <a href="#modal3" class="brown-text lighten-3"><b>Modifier mes information</b></a>
                        <div id="modal3" class="modal">
                            <div class="modal-content">
                                {{ form_start(editInfoForm) }}
                                {{ form_rest(editInfoForm) }}
                                <button class="waves-effect waves-light btn" type="submit">Modifier</button>
                                {{ form_end(editInfoForm) }}
                            </div>
                            <div class="modal-footer">
                                <a href="#!"
                                   class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="#modal2" class="brown-text lighten-3"><b>Modifier mon mot de passe</b></a>
                        <div id="modal2" class="modal">
                            <div class="modal-content">
                                {{ form_start(editPwdForm) }}
                                {{ form_rest(editPwdForm) }}
                                <button class="waves-effect waves-light btn" type="submit">Modifier</button>
                                {{ form_end(editPwdForm) }}
                            </div>
                            <div class="modal-footer">
                                <a href="#!"
                                   class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- Modal Trigger -->
                        <a href="#modalAmis" class="brown-text lighten-3"><b>mes amis</b></a>

                        <!-- Modal Structure -->
                        <div id="modalAmis" class="modal bottom-sheet">
                            <ul class="collection">
                                {% if amis|length > 0 %}
                                {% for ami in amis %}
                                    <li class="collection-item avatar">
                                        <div class="row">
                                            <div class="col s6">
                                                {% if ami.picture != null %}
                                                    <img alt="" class="circle"
                                                         src="../ressource/profil/{{ ami.picture }}">
                                                {% else %}
                                                    <img alt="" class="circle" src="../ressource/profil/profil.png"
                                                         alt="default">
                                                {% endif %}
                                                <span class="title">{{ ami.nom }}  {{ ami.prenom }}</span>
                                            </div>
                                            <div class="col s6 right-align">
                                                <a href="{{ path("messagerie_send", {'id': ami.id}) }}"
                                                   class="btn-floating btn-large"><i class="material-icons">message</i></a>
                                                <a href="{{path("membre_supprimerAmis",{"id": ami.id})}}" class="btn-floating btn-large red"><i
                                                            class="material-icons">block</i></a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                {% else %}
                                <li class="collection-item avatar">
                                    <div class="row">
                                        <p>Vous n'avez pas encore des amis</p>
                                        <div><a href="{{ path("membre_invitationList") }}">Ajouter des amis</a></div>
                                    </div>
                        </div>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
    <div class="row">
        <div class="col s12 btn-flat" style="margin-bottom: 4%;">
            <p class="teal lighten-5 center-align"><b>Mes livres à prêter</b></p>
        </div>
            <div class="container">
                
               {%if mesarticles is defined and mesarticles is not null %}
                    <div class="row">
                    {%for article in mesarticles %}
                        <div class="col s3">
                                <div class=" card teal lighten-4">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        {% if article.image == null %}
                                            <img class="activator"  src="{{ asset('images/default.png') }}">
                                        {% else %}
                                            <img class="activator" height="200px" src="../ressource/article/{{ article.image }}">
                                        {% endif %}
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator white-text text-darken-4"  style="font-size: 13px">{{ article.titre }}<i class="material-icons right">more_vert</i></span>
                                    </div>
                                    <div class="card-action brown lighten-5">
                                        <a href="{{ path('article_view', {"idA":article.id}) }}" class="brown-text text-darken-4">Voir details</a>
                                    </div>
                                    <div class="card-reveal brown lighten-5">
                                        <span class="card-title grey-text text-darken-4  ">{{ article.titre }}<i class="material-icons right">close</i></span>
                                        <p>{{ article.resume }}</p>
                                    </div>
                                </div>
                            </div>
                    {%endfor%}
                    </div>
                {% endif %}
            </div>
        </div>
  
{% endblock %}

