{% extends 'base.html.twig' %}

{% block title %}
   Administration
{% endblock %}

{% block body %}
   
    <div class="container">
        <div class="row">
            <h1 class="titleS"><center>Administration</center></h1>
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header brown lighten-3">Page d'accueil</div>
                  <div class="collapsible-body row" style="padding:3%">
                      <form method="post" action="{{path('administration_siteadmin')}}">
                            <label for="">Le concept : </label>
                            <textarea name="concept" height="10rem" rows="40" cols="70">{{ concept }}</textarea>
                            <input type="submit" class="btn waves-effect waves-light" value="sauvgarder">
                            <span></span>                            
                      </form>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header brown lighten-3">Gestion de contenu</div>
                  <div class="collapsible-body">
                      <a href="{{path('categorie_all')}}" class="waves-effect waves-light btn  teal lighten-5 col s6 black-text"> Gestion des Categories</a>
                      <a href="{{path('article_all')}}" class="waves-effect waves-light btn  teal lighten-5 col s6 black-text">Gestion des  Articles</a>
                  </div>
                </li>
               
                <li>
                    <div class="collapsible-header brown lighten-3"><a href="{{path('salon_all')}}" class="black-text">Gestion des salons</a></div>
                </li>
                <li>
                  <div class="collapsible-header brown lighten-3">Membres</div>
                  <div class="collapsible-body"  style="padding:3%">
                      <table>
                      {% for m in membres %}
                          <tr>
                              <td>{{m.prenom}} {{m.nom}}</td>
                              <td>{{m.mail}}</td>
                              <td>
                                  <form action="#" method="GET">
                                        <select class="browser-default" name="statut" id="statut" onchange="changeRole({{m.id}});">
                                                <option value="1"  {%if m.statut == 1 %} selected {%endif%}>Administrateur</option>
                                                <option value="0" {%if m.statut != 1 %} selected {%endif%} >Utilisateur</option>
                                        </select>
                                  </select>
                              </td>
                              <td>
                                  <a href="{{ path("administration_deleteuser", {'id': m.id}) }}">
                                      <i class="material-icons teal-text lighten-4">delete</i>
                                  </a>
                              </td>
                          </tr>
                      {% endfor %}
                      </table>
                      
                  </div>
                </li>
            </ul>
        </div>
    </div>
                      <br><br><br><br>
{% endblock %}
