{% extends 'base.html.twig' %}

{% block title %}
    
{% endblock %}


{% block body %}
    <div class="row">
        <nav>
            <div class="nav-wrapper brown lighten-3 ">
               <div class="container">
                    <div class="col s12">
                      <a href="/Administration" class="breadcrumb">Administration</a>
                      <a href="/salonList" class="breadcrumb">Salons</a>
                    </div>
               </div>
            </div>
        </nav>
        <div class="col l12 col m12 col s12 col xs12 margin-top">
            <div class="container">
                <div class="row right">
                    <a href="{{ path("salon_new")}}" class="btn  blue-grey">Créer un salon</a>
                </div>
                <div class="row margin-top">
                <table class="bordered ">
                    <thead>
                      <tr>
                          <th>Titre de salon</th>
                          <th>L'article concerné</th>
                          <th>Date de debut</th>
                          <th>Date de fin</th>
                          <th>Action</th>
                      </tr>
                    </thead>

                    <tbody>
                        {%if salons is defined  and salons!=null%}
                            {% for salon in salons %}
                             <tr>
                                <td>
                                    <a href="#infoSalon" class="brown-text lighten-3"><b>{{salon.titreSalon}}</b></a>
                                    <div id="infoSalon" class="modal">
                                        <div class="modal-content">
                                            <div class="row">
                                            <div class="col s6">
                                                {%if articles is defined and articles != null %}
                                                    {%for article in articles %}
                                                        {% if article.id == salon.idArticle%}
                                                           <img width="300" height="200" src='../ressource/article/{{article.image}}'>
                                                        {%endif%}
                                                    {%endfor%}
                                                {%endif%}
                                            </div>
                                            <div class="col s6">
                                                {%if salon.titreSalon != null %}
                                                    <p><b>Titre : </b>{{salon.titreSalon}}</p>
                                                {%endif%}
                                                {%if salon.description != null %}
                                                    <p><b>Description : </b>{{salon.description}}</p>
                                                {%endif%}
                                                {%if salon.dateDebut != null %}
                                                    <p><b>Date de fin : </b>{{salon.dateDebut|date("d/m/Y")}}</p>
                                                {%endif%}
                                                {%if salon.dateFin != null %}
                                                    <p><b>Date de debut : </b>{{salon.dateFin|date("d/m/Y")}}</p>
                                                {%endif%}
                                            </div>
                                        </div>
                                    </div>
                                        <div class="modal-footer">
                                            <a href="#!"
                                               class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
                                        </div>
                                    </div>
                                    
                                
                                </td>
                                <td>
                                    {%if articles is defined and articles != null %}
                                        {%for article in articles %}
                                            {% if article.id == salon.idArticle%}
                                            <p>
                                                {{article.titre}}
                                            </p>
                                            {%endif%}
                                        {%endfor%}
                                    {%endif%}
                                </td>
                                <td>
                                    {%if salon.dateDebut != null %}
                                        <p>{{salon.dateDebut|date("d/m/Y")}}</p>
                                    {%endif%}
                                </td>
                                <td>
                                    {%if salon.dateFin != null %}
                                        <p>{{salon.dateFin|date("d/m/Y")}}</p>
                                    {%endif%}
                                </td>
                                <td>
                                    <a href="{{path('salon_edit',{'id': salon.id})}}"><i class="material-icons orange-text text-accent-2">edit</i></a>
                                    <a href="{{path('salon_delete',{'id':salon.id})}}"><i class="material-icons red-text text-lighten-2">delete</i></a>
                                </td>
                             </tr>
                            {%endfor%}
                        {%endif%}
                    </tbody>
                 </table>
               </div>
            </div>
        </div>
    </div>
{% endblock %}
