{% extends 'base.html.twig' %}

{% block title %}
    {%if article.titre != null %}
         {{article.titre}}
    {%endif%}
{% endblock %}


{% block body %}
    <div class="row margin-top">
        <div class="col l12 col m12 col s12 col xs12">
            <div class="container">
                <div class="row">
                    <div class="col s4">
                         <img width="200" height="300" src='../ressource/article/{{article.image}}'>
                    </div>
                    <div class="col s8 card-panel">
                        <div class='col s6'>
                        {%if article.titre != null %}
                           <p><b>Titre : </b>{{article.titre}}</p>
                        {%endif%}
                        </div>
                        <div class='col s6'>
                                {%if possede is defined %}
                                    {%if possede == 0 %}
                                        <a href="{{path('article_proprietaire')}}?idArticle={{article.id}}" class="btn-flat teal lighten-5 black-text right" style="font-size: 9px;">Je l'ai et je veux le pêter</a>
                                    {%elseif possede == 1%}
                                        <a href="{{path('article_proprietaireNo')}}?idArticle={{article.id}}" class=' btn brown lighten-5 black-text right' style="font-size: 9px;">Je n'ai plus </a>
                                    {%endif%}
                                {%endif%}
                        </div>
                         <div class="col s12">
                        {%if article.date_sortie != null %}
                            <p><b>Date de sortie :</b> {{article.date_sortie|date("d/m/Y")}}</p>
                        {%endif%}
                        </div>
                        <div class="col s12">
                        {%if article.auteur != null %}
                            <p><b>Auteur/Réalisateur :</b>{{article.auteur}}</p>
                        {%endif%}
                        </div>   
                        <div class="col s12">
                        {%if article.resume != null %}
                            <p><b>Description : </b>{{article.resume}}</p>
                        {%endif%}
                        <div>
                        
                    </div>
                 </div>
            </div>
        </div>
    </div>
{% endblock %}
